<%= render 'layouts/navbar' %>

<div class="build-show-header">
  <h2><%= @build.name %></h2>
  <%= link_to 'Edit', edit_build_path(@build) %>
  <%= link_to 'Delete', build_path(@build), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="build-charms d-flex" style="background-image: url(<%= set_background(@build.notches) %>)">
  <% @build.combinations.each do |combination| %>
    <div class="build-charm d-flex">
      <%= link_to combination_path(combination), method: :delete, data: { confirm: 'Delete this charm?' } do %>
        <%= image_tag combination.charm.sprite.url %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="build-capacity d-flex">
  <% capacity = @build.notches %>
  <% notches = [] %>
  <% if capacity <= 11 %>
    <% capacity.times { notches << 'full_notch.png' } %>
    <% (11 - capacity).times { notches << 'empty_notch.png' } %>
  <% else %>
    <% 11.times { notches << 'full_notch.png' } %>
    <% (capacity - 11).times { notches << 'overcharm_notch.png' } %>
  <% end %>

  <div class="notches d-flex justify-content-around align-items-center">
    <% notches.each do |notch| %>
    <div class="notch">
      <%= image_tag notch %>
    </div>
    <% end %>
  </div>
</div>

<div class="build-info">
  <p><em><%= @build.description %></em></p>
  <h3>Charms</h3>
  <% @build.charms.each_with_index do |charm, index| %>
    <p><%= index + 1 %>. <%= charm.name %> - <%= charm.description %></p>
  <% end %>
</div>

<div class="charm-form">
  <% if @build.notches == 11 %>
    <p>All notches full!</p>
  <% elsif @build.overcharmed? %>
    <p>You're overcharmed!</p>
  <% else %>
    <div class="add-charm-form">
      <%= render 'combinations/form' %>
    </div>
  <% end %>
</div>
