<!DOCTYPE html>
<html>
  <head>
    <title>Overcharmed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header d-flex justify-content-between align-items-center">
      <h1><%= link_to 'Overcharmed', builds_path %></h1>
      <%= link_to 'Create a build', new_build_path %>
    </div>
    <%= yield %>
  </body>
</html>
